@media screen  and (max-width: 900px){
    
    .carditem{
        width: 30vw;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }

    nav{
        justify-content: space-around;
    }
    
    nav ul {     
        right: -100%;
        position: fixed;
        height: 100vh;
        width: 50%;
         flex-direction: column;
        align-items: center;
        justify-content: space-around; 
        top: 0;
        background: rgba(8, 165, 120, 0.753);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    nav ul .cartBtn1{
        display: none;

    }
    nav .cartBtn2{
        display: inline-block;
    }

    nav .menu-btn{
        display: block;
        z-index: 999;

    }

    .menu-btn.active::before{
        content: "\f00d";
    }

    nav ul.active{
        right: 0;
    }

}
@media (max-width : 500px){

    .carditem{
        width: 50vw;
    }
}