@media screen  and (max-width:1000px){
    
    .carditem{
        width: 30vw;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    
    nav ul{ 
        right: 0;
        position: fixed;
        height: 100vh;
        width: 50%;
        flex-direction: column;
        top: 0;
        background: rgba(34, 34, 34, 0.959);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    nav ul .cartBtn1{
        display: none;

    }
    nav .cartBtn2{
        display: inline-block;
    }
    

}